<?xml version="1.0" encoding="utf-8"?>
<Options>
  <General>
    <AutoSave>False</AutoSave>
    <AutoSaveSpeed>0</AutoSaveSpeed>
    <AutoScroll>True</AutoScroll>
    <Music>True</Music>
    <NpcBar>True</NpcBar>
    <NpcDamage>False</NpcDamage>
    <NpcName>True</NpcName>
    <PlayerBar>False</PlayerBar>
    <PlayerDamage>False</PlayerDamage>
    <PlayerName>True</PlayerName>
    <SavedAccount />
    <SavedPassword />
    <Sound>True</Sound>
    <SpeechBubbles>True</SpeechBubbles>
    <Timestamps>False</Timestamps>
    <ActiveSkin>Main Theme</ActiveSkin>
    <PlayerStatBars>True</PlayerStatBars>
  </General>
  <ConnectionInfo>
	<Server><!-- server url goes here --></Server>
    <Port>4001</Port>
    <IP>localhost</IP>
    <UpdateLink></UpdateLink>
    <MusicLink>http://www.pmuniverse.net/game/music/</MusicLink>
    <SFXLink>http://www.pmuniverse.net/game/SoundFX/</SFXLink>
  </ConnectionInfo>
  <Editor>
    <MapGrid>True</MapGrid>
    <DisplayAttributes>True</DisplayAttributes>
    <DragAndPlace>True</DragAndPlace>
  </Editor>
</Options>
